<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>双动设备</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx8bddda665c0c4a60</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1108198999</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ420DC657</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb1892604790</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>toodo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tdapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqopensdklaunchminiapp</string>
		<string>mqqopensdkminiapp</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV4</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqqbrowser</string>
		<string>mttbrowser</string>
		<string>tim</string>
		<string>timapi</string>
		<string>timopensdkfriend</string>
		<string>timwpa</string>
		<string>timgamebindinggroup</string>
		<string>timapiwallet</string>
		<string>timOpensdkSSoLogin</string>
		<string>wtlogintim</string>
		<string>timopensdkgrouptribeshare</string>
		<string>timopensdkapiV4</string>
		<string>timgamebindinggroup</string>
		<string>timopensdkdataline</string>
		<string>wtlogintimV1</string>
		<string>timapiV1</string>
		<string>toodo</string>
		<string>tdgame000001</string>
		<string>tdgame000002</string>
		<string>tdgame000003</string>
		<string>tdgame000004</string>
		<string>tdgame000005</string>
		<string>tdgame000006</string>
		<string>tdgame000007</string>
		<string>tdgame000008</string>
		<string>tdgame000009</string>
		<string>tdgame000010</string>
		<string>tdgame000011</string>
		<string>tdgame000012</string>
		<string>tdgame000013</string>
		<string>tdgame000014</string>
		<string>tdgame000015</string>
		<string>tdgame000016</string>
		<string>tdgame000017</string>
		<string>tdgame000018</string>
		<string>tdgame000019</string>
		<string>tdgame000020</string>
		<string>tdgame000021</string>
		<string>tdgame000022</string>
		<string>tdgame000023</string>
		<string>tdgame000024</string>
		<string>tdgame000025</string>
		<string>tdgame000026</string>
		<string>tdgame000027</string>
		<string>tdgame000028</string>
		<string>tdgame000029</string>
		<string>tdgame000030</string>
		<string>tdgame000031</string>
		<string>tdgame000032</string>
		<string>tdgame000033</string>
		<string>tdgame000034</string>
		<string>tdgame000035</string>
		<string>tdgame000036</string>
		<string>tdgame000037</string>
		<string>tdgame000038</string>
		<string>tdgame000039</string>
		<string>tdgame000040</string>
		<string>tdgame000041</string>
		<string>tdgame000042</string>
		<string>tdgame000043</string>
		<string>tdgame000044</string>
		<string>tdgame000045</string>
		<string>tdgame000046</string>
		<string>tdgame000047</string>
		<string>tdgame000048</string>
		<string>tdgame000049</string>
		<string>tdgame000050</string>
		<string>tdgame000051</string>
		<string>tdgame000052</string>
		<string>tdgame000053</string>
		<string>tdgame000054</string>
		<string>tdgame000055</string>
		<string>tdgame000056</string>
		<string>tdgame000057</string>
		<string>tdgame000058</string>
		<string>tdgame000059</string>
		<string>tdgame000060</string>
		<string>tdgame000061</string>
		<string>tdgame000062</string>
		<string>tdgame000063</string>
		<string>tdgame000064</string>
		<string>tdgame000065</string>
		<string>tdgame000066</string>
		<string>tdgame000067</string>
		<string>tdgame000068</string>
		<string>tdgame000069</string>
		<string>tdgame000070</string>
		<string>tdgame000071</string>
		<string>tdgame000072</string>
		<string>tdgame000073</string>
		<string>tdgame000074</string>
		<string>tdgame000075</string>
		<string>tdgame000076</string>
		<string>tdgame000077</string>
		<string>tdgame000078</string>
		<string>tdgame000079</string>
		<string>tdgame000080</string>
		<string>tdgame000081</string>
		<string>tdgame000082</string>
		<string>tdgame000083</string>
		<string>tdgame000084</string>
		<string>tdgame000085</string>
		<string>tdgame000086</string>
		<string>tdgame000087</string>
		<string>tdgame000088</string>
		<string>tdgame000089</string>
		<string>tdgame000090</string>
		<string>tdgame000091</string>
		<string>tdgame000092</string>
		<string>tdgame000093</string>
		<string>tdgame000094</string>
		<string>tdgame000095</string>
		<string>tdgame000096</string>
		<string>tdgame000097</string>
		<string>tdgame000098</string>
		<string>tdgame000099</string>
		<string>tdgame000100</string>
		<string>tbopen</string>
		<string>openapp.jdmobile</string>
		<string>tmall</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>双动需要开启蓝牙功能连接运动设备</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>双动需要开启蓝牙功能连接运动设备</string>
	<key>UIAppFonts</key>
	<array>
		<string>bahnschrift.ttf</string>
		<string>cyrillic.ttf</string>
		<string>medium.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
